
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
}

*{
  box-sizing: border-box;
  cursor: default;
}

a, a:visited, a:link {
  text-decoration: none;
  color: inherit;
}
.reload-icon {
  display: inline-block;
  transition: transform 0.4s;
}

.reload-icon:hover {
  transform: rotate(360deg);
}

.reload-icon:active {
  transform: rotate(720deg);
}
